@model WildeRoverMgmtApp.Models.InventorySummaryDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<hr />

<div>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(m => m.Summary.Date)
    </dt>
    <dd>
        @Html.DisplayFor(m => m.Summary.Date)
    </dd>
    <dt>
        @Html.DisplayNameFor(m => Model.Summary.Submitted)
    </dt>
    @if(Model.Summary.Submitted)
    { 
        <dd><b>Yes</b></dd>
    }
    else
    {
        <dd><b>No</b></dd>
    }
    <dt>
        @Html.DisplayNameFor(m => Model.Summary.LastEdited)
    </dt>
    <dd>
        @Html.DisplayFor(m => Model.Summary.LastEdited)
    </dd>
</dl>
</div>

<hr />

<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>
                <div class="col-md-10">
                    @Html.DisplayNameFor(model => model.Inventory.FirstOrDefault().Key.Name)
                </div>                
            </th>
            <th>
                <div class="col-md-2">
                    Count
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var kvp in Model.Inventory)
        {
            <tr>
                <td>
                    <div class="col-md-10">
                        <a class="btn" asp-controller="WildeRoverItems" asp-action="Details" asp-route-id="@kvp.Key.WildeRoverItemId">
                            @Html.DisplayFor(m => kvp.Key.Name)
                        </a>
                    </div>
                </td>
                <td>
                    <div class="col-md-2">
                        <a class="btn">
                            @Html.DisplayFor(m => kvp.Value)
                        </a>
                    </div>                    
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="btn-group">
    @if (!Model.Summary.Submitted)
    {
        <a class="btn btn-warning" asp-controller="Inventory" asp-action="FrontHouseIndex">Edit</a>
        <a class="btn btn-success" asp-controller="InventorySummary" asp-action="Submit" asp-route-id="@Model.Summary.InventorySummaryId">Submit</a>
    }    
    <a class="btn btn-info" style="text-decoration:none" href="javascript:history.go(-1)">Back</a>
</div>

