@model WildeRoverMgmtApp.Models.InventorySummaryDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<p>
    @Html.DisplayFor(m => Model.Summary.Date)
</p>
<p>
    @if (Model.Summary.Submitted)
    {
        <div>Inventory Submitted</div>
    }
    else
    {
        <div>Inventory NOT Submitted</div>
    }
</p>

<table class="table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inventory.FirstOrDefault().Key.Name)
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.Inventory.FirstOrDefault().Value) -->*@
                Count
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var kvp in Model.Inventory)
        {
            <tr>
                <td>
                    <a asp-controller="WildeRoverItems" asp-action="Details" asp-route-id="@kvp.Key.WildeRoverItemId">
                        @Html.DisplayFor(m => kvp.Key.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(m => kvp.Value)
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @if (!Model.Summary.Submitted)
    {
        <a class="btn-info" asp-controller="Inventory" asp-action="FrontHouseIndex">Edit</a>
        <a class="btn-info" asp-controller="InventorySummary" asp-action="Submit" asp-route-id="@Model.Summary.InventorySummaryId">Submit</a>
    }
    
</p>

