@model IEnumerable<WildeRoverMgmtApp.Models.InventorySummary>

@{
    ViewData["Title"] = "Inventory Log";
}

<h2>Index</h2>

<body>
    <hr />
    <table class="table table-hover table-condensed">
        <thead class="thead-inverse">
            <tr>
                <th>
                    <div class="col-md-5">
                        @Html.DisplayNameFor(model => model.Date)
                    </div>                    
                </th>
                <th>
                    <div class="col-md-5">
                        @Html.DisplayNameFor(model => model.LastEdited)
                    </div>                    
                </th>
                <th>
                    <div class="col-md-2">
                        @Html.DisplayNameFor(model => model.Submitted)
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var log in Model)
            {
                <tr>
                    <td>
                        <div class="col-md-5">
                            <a class="btn" asp-controller="InventorySummary" asp-action="Details" asp-route-id="@log.InventorySummaryId">
                                @Html.DisplayFor(modelItem => log.Date)
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-5">
                            <a class="btn">
                                @Html.DisplayFor(m => log.LastEdited)
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-2">
                            @if(log.Submitted)
                            {
                                <a class="btn">Yes</a>
                            }
                            else
                            {
                                <a class="btn">No</a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
