@model WildeRoverMgmtApp.Models.WildeRoverItem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WildeRoverItem</h4>
    <hr />
    <dl class="dl">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Par)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Par)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Have)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Have)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InventoryCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InventoryCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DefaultVendorItem)
        </dt>        
            @if (Model.DefaultVendorItem == null)
            {
                <dd>NULL</dd>
            }
            else
            {
                <dd>@Html.DisplayFor(model => model.DefaultVendorItem.Vendor.Name)</dd>
            }  
    </dl>
</div>
<div>
    @Html.DisplayFor(model => model.VendorItems.Count)
    <table class="table-condensed">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VendorItems.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorItems.FirstOrDefault().Vendor.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorItems.FirstOrDefault().PackSize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorItems.FirstOrDefault().Price)
                </th>
                <th>
                    PPU
                </th>
            </tr>
        </thead>
    <tbody>
        @if (Model.VendorItems == null)
            {
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.VendorItems.FirstOrDefault().PPU)
                </td>
            </tr>
        }
        else
        {

            @foreach (var vi in Model.VendorItems)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(i => vi.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(i => vi.Vendor.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(i => vi.PackSize)
                    </td>
                    <td>
                        @Html.DisplayFor(i => vi.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(i => vi.PPU)
                    </td>
                </tr>
            }

        }

        </tbody>
    </table>

</div>
<div class="btn-group">
    <a class="btn btn-success" style="text-decoration:none" asp-action="Edit" asp-route-id="@Model.WildeRoverItemId">Edit</a>
    <a class="btn btn-danger" style="text-decoration:none" asp-action="Delete" asp-route-id="@Model.WildeRoverItemId">Delete</a>
    <a class="btn btn-info" style="text-decoration:none" href="javascript:history.go(-1)">Back</a>
</div>
