@model WildeRoverMgmtApp.Models.FrontHouseInventoryViewModel

@{
    ViewData["Title"] = "Front House Inventory";

}

<h2>Front of House Inventory</h2>

@using (Html.BeginForm())
{
    <table class="table table-hover table-condensed">
        <thead>
            <tr style="">
                <th>
                    <div class="col-md-8">
                        @Html.DisplayNameFor(model => model.Inventory.FirstOrDefault().Item.Name)
                    </div>                    
                </th>
                <th>
                    <div class="col-md-4">
                        @Html.DisplayNameFor(model => model.Inventory.FirstOrDefault().Count)
                    </div>                   
                </th>
            </tr>
        </thead>
        <tbody id="childtable">
            @Html.HiddenFor(model => Model.Log.InventoryAreaid)
            @Html.HiddenFor(model => Model.Log.InventorySummaryId)
            @Html.EditorFor(model => Model.Inventory)
        </tbody>
    </table>
    <div class="btn-group">
        <input type="submit" class="btn btn-success" name="save" value="SAVE" formaction="/Inventory/FrontHouseInventorySave" formmethod="post"/>
        <input type="submit" class="btn btn-danger" name="reset" value="RESET" formaction="/Inventory/FrontHouseInventoryReset" formmethod="post" />
        <input type="submit" class="btn btn-info" name="submit" value="SUBMIT" formaction="/Inventory/FrontHouseInventorySubmit" formmethod="post"/>
    </div>
}
