@model List<WildeRoverMgmtApp.Models.WildeRoverItem>

@{
    ViewData["Title"] = "Front House Inventory";
}

<h2>Front House Inventory</h2>

<form asp-action="FrontHouseInventory">
    <table class="table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                </th>
                <th>
                    Count
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr class="form-group">                    
                    <td>
                        <a asp-controller="WildeRoverItems" asp-action="Details" asp-route-id="@item.WildeRoverItemId">
                            @Html.DisplayFor(n => item.Name)
                        </a>
                    </td>
                    <td>
                        <input type="hidden" asp-for="@item.WildeRoverItemId" />
                        @Html.EditorFor(c => item.InventoryCount, new { @type="number", min="0" })                        
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <input type="submit" value="Save" class="btn-default" />
</form>
