@model WildeRoverMgmtApp.Models.FrontHouseInventoryViewModel

@{
    ViewData["Title"] = "Front House Inventory";

}

<h2>Front of House Inventory</h2>

@using (Html.BeginForm())
{
    <table class="table-striped">
        <thead>
            <tr style="">
                <th>
                    @Html.DisplayNameFor(model => model.Inventory.FirstOrDefault().Item.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inventory.FirstOrDefault().Count)
                </th>
            </tr>
        </thead>
        <tbody id="childtable">
            @Html.HiddenFor(model => Model.Log.InventoryAreaid)
            @Html.HiddenFor(model => Model.Log.InventorySummaryId)
            @Html.EditorFor(model => Model.Inventory)
        </tbody>
    </table>
    <p>
        <input type="submit" name="save" value="SAVE" formaction="/Inventory/FrontHouseInventorySave" formmethod="post"/>
        <input type="submit" name="reset" value="RESET" formaction="/Inventory/FrontHouseInventoryReset" formmethod="post" />
        <input type="submit" name="submit" value="SUBMIT" formaction="/Inventory/FrontHouseInventorySubmit" formmethod="post"/>
    </p>
}
