@model WildeRoverMgmtApp.Models.Vendor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vendor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PointOfContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PointOfContact)
        </dd>
    </dl>
</div>
<div class="btn-group">
    <a class="btn btn-success" style="text-decoration:none" asp-action="Edit" asp-route-id="@Model.VendorId">Edit</a>
    <a class="btn btn-danger" style="text-decoration:none" asp-action="Delete" asp-route-id="@Model.VendorId">Delete</a>
    <a class="btn btn-info" style="text-decoration:none" href="javascript:history.go(-1)">Back</a>
</div>
