@model IEnumerable<WildeRoverMgmtApp.Models.Vendor>

@{
    ViewData["Title"] = "Index";
}

<h2>Vendors</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointOfContact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn" style="text-decoration:none">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    <a class="btn" style="text-decoration:none">
                        @Html.DisplayFor(modelItem => item.Phone)
                    </a>
                </td>
                <td>
                    <a class="btn" style="text-decoration:none">
                        @Html.DisplayFor(modelItem => item.EMail)
                    </a>
                </td>
                <td>
                    <a class="btn" style="text-decoration:none">
                        @Html.DisplayFor(modelItem => item.PointOfContact)
                    </a>
                </td>
                <td class="btn-group">
                    <a class="btn btn-info" style="text-decoration:none" asp-action="Edit" asp-route-id="@item.VendorId">Edit</a>
                    <a class="btn btn-info" style="text-decoration:none" asp-action="Details" asp-route-id="@item.VendorId">Info</a>
                    <a class="btn btn-info" style="text-decoration:none" asp-action="Delete" asp-route-id="@item.VendorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
