@model WildeRoverMgmtApp.Models.VendorItem

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vendor Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="VendorItemId" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PackSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PackSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color btn-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-primary" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>
