@model IEnumerable<WildeRoverMgmtApp.Models.VendorItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Vendor Items</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn" style="text-decoration:none" asp-action="Details" asp-route-id="@item.VendorItemId">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    <a class="btn" style="text-decoration:none">
                        @Html.DisplayFor(modelItem => item.Vendor)
                    </a>
                </td>
                <td>
                    <a class="btn" style="text-decoration:none">
                        @Html.DisplayFor(modelItem => item.PackSize)
                    </a>
                </td>
                <td>
                    <a class="btn" style="text-decoration:none">
                        @Html.DisplayFor(modelItem => item.Price)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
