@model WildeRoverMgmtApp.Models.OrderSummary

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m => m.Date)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.Completed)
        </dt>
        @if(Model.Completed)
        {
            <dd><b>Yes</b></dd>
        }
        else
        {
            <dd><b>No</b></dd>
        }
        <dt>
            @Html.DisplayNameFor(m => m.LastEdited)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.LastEdited)
        </dd>
    </dl>
</div>

<hr />
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>
                <div class="col-md-10">
                    @Html.DisplayNameFor(model => model.OrderList.FirstOrDefault().Item.Name)
                </div>
            </th>
            <th>
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.OrderList.FirstOrDefault().Count)
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var itemCount in Model.OrderList)
        {
            <tr>
                <td>
                    <div class="col-md-10">
                        <a class="btn" asp-controller="WildeRoverItems" asp-action="Details" asp-route-id="@itemCount.Item.WildeRoverItemId">
                            @Html.DisplayFor(m => itemCount.Item.Name)
                        </a>
                    </div>
                </td>
                <td>
                    <div class="col-md-2">
                        @Html.DisplayFor(m => itemCount.Count)
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <dl class="dl">
        <dt>Price</dt>
        @if (Model.Completed)
        {
            <dd>
                <h3>@Html.DisplayFor(m => Model.Total)</h3>
            </dd>
        }
        else
        {
            <dd><h3>TBD</h3></dd>
        }
    </dl>
</div>

@if (!Model.Completed)
{
    <div class="btn-group">
        @if (Model.OrderList.Count != 0)
        {
            <a class="btn btn-success" asp-controller="OrderSummary" asp-action="Submit" asp-route-id="@Model.OrderSummaryId">
                Submit
            </a>
        }
        <a class="btn btn-info" style="text-decoration:none" href="javascript:history.go(-1)">Back</a>
    </div>
}

