@model WildeRoverMgmtApp.Models.OrderSummary

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<p>
    @Html.DisplayFor(m => Model.Date)
</p>
<p>
    @if (Model.Completed)
    {
        <div>Order Submitted</div>
    }
    else
    {
        <div>Order NOT Submitted</div>
    }
</p>

<table class="table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderList.FirstOrDefault().Item.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderList.FirstOrDefault().Count)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var itemCount in Model.OrderList)
        {
            <tr>
                <td>
                    <a asp-controller="WildeRoverItems" asp-action="Details" asp-route-id="@itemCount.Item.WildeRoverItemId">
                        @Html.DisplayFor(m => itemCount.Item.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(m => itemCount.Count)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <dl class="dl">
        <dt>Price</dt>
        @if (Model.Completed)
        {
            <dd>
                @Html.DisplayFor(m => Model.Total)
            </dd>
        }
        else
        {
            <dd>TBD</dd>
        }
    </dl>
</div>

@if (!Model.Completed)
{
    <div>
        <a class="btn-info" asp-controller="OrderSummary" asp-action="Submit" asp-route-id="@Model.OrderSummaryId">
            Submit
        </a>
    </div>
}

