
@*
   Editor Template for ItemCount
*@

@using WildeRoverMgmtApp.Models
@model ItemCount

<tr>
    <td>
        <div class="col-md-4">
            @Html.HiddenFor(model => model.ItemCountId)
            @Html.HiddenFor(model => model.WildeRoverItemId)
            <a class="btn" asp-controller="WildeRoverItems" asp-action="Details" asp-route-id="@Model.Item.WildeRoverItemId">
                @Html.DisplayFor(model => model.Item.Name)
            </a>
        </div>
    </td>
    <td>
        <div class="col-md-2">
            <a class="btn">
                @Html.DisplayFor(model => model.Item.DefaultVendorItem.Price)
            </a>
        </div>
    </td>
    <td>
        <div class="col-md-2">
            <a class="btn">
                @Html.DisplayFor(model => model.Item.Par)
            </a>
        </div>
    </td>
    <td>
        <div class="col-md-2">
            <a class="btn">
                @Html.DisplayFor(model => model.Item.Have)
            </a>
        </div>
    </td>
    <td>
        <div class="col-md-2">
            <a class="btn">
                @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @type = "number", @value = "@Model.Count" } })
            </a>
        </div>
    </td>
</tr>