
@*
   Editor Template for ItemCount
*@

@using WildeRoverMgmtApp.Models
@model ItemCount

<tr>
    <td>
        <div class="col-md-8">
            @Html.HiddenFor(model => model.ItemCountId)
            <a asp-controller="WildeRoverItems" asp-action="Details" asp-route-id="@Model.Item.WildeRoverItemId">
                @Html.DisplayFor(model => model.Item.Name)
            </a>
        </div>
    </td>
    <td>
        <div class="col-md-4">
            @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @type = "number", @value = "@Model.Count" } })
        </div>      
    </td>
</tr>