@model WildeRoverMgmtApp.Models.OrderViewModel

@{
    ViewData["Title"] = "Front of House Order";
}

@*
    <style type="text/css">
        td {
            padding: 0 10px 0 10px;
        }

        th {
            padding: 0 10px 0 10px;
        }
    </style>
*@


<h2>Front of House Order</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>
                    <div class="col-md-4">
                        @Html.DisplayNameFor(model => model.OrderList.FirstOrDefault().Item.Name)
                    </div>                    
                </th>
                <th>
                    <div class="col-md-2">
                        @Html.DisplayNameFor(model => model.OrderList.FirstOrDefault().Item.DefaultVendorItem.Price)
                    </div>
                </th>
                <th>
                    <div class="col-md-2">
                        @Html.DisplayNameFor(model => model.OrderList.FirstOrDefault().Item.Par)
                    </div>
                </th>
                <th>
                    <div class="col-md-2">
                        @Html.DisplayNameFor(model => model.OrderList.FirstOrDefault().Item.Have)
                    </div>
                </th>
                <th>
                    <div class="col-md-2">
                        @Html.DisplayNameFor(model => model.OrderList.FirstOrDefault().Item.Need)
                    </div>
                </th>
            </tr>
        </thead>
        <tbody id="childtable">
            @Html.EditorFor(model => Model.OrderList)
            @Html.HiddenFor(model => Model.OrderId)
        </tbody>
    </table>
    <div class="btn-group">
        <input class="btn btn-success" type="submit" formaction="/Order/Save" value="Save" />        
        <a class="btn btn-warning" asp-controller="Order" asp-action="FrontHouseOrderReset">Reset</a>
        <a class="btn btn-danger" asp-controller="Home" asp-action="Index">Cancel</a>
        <input class="btn btn-info" type="submit" formaction="/Order/Submit" value="Submit" />
    </div>
}
